.login-container--mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 2px solid #1888ff;
  border-radius: 10px;
  background-color: #fff;
  font-size: 3rem;
  color: #1888ff;
}
.login-container--mobile label {
  display: flex;
}

.login-container--mobile button {
  background-color: #1888ff;
  color: #fff;
  font-size: 3rem;
  margin-top: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1.5px #1888aa;
}

.login-container--mobile input {
  border-radius: 5px;
  border: #1888ff 1.5px solid;
  height: 45px;
  padding: 2px 5px;
  margin-top: 5px;
  font-size: 2rem;
}
.login-container--mobile-form {
  display: flex;
  flex-direction: column;
}
